@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    min-height: 100vh;
    padding: 0;
    background-color: aliceblue;
    overflow-x: hidden;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
}

.container, .stories{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: auto;
    display: grid;
    place-content: center;
}

.story-box{
    position: absolute;
    padding: 2rem;
    margin: 1rem;
    max-width: 40%;
    color: #fff;
    
}
.story-box > *{
    font-family: 'Poppins', sans-serif;
}
.story-box h1{
    font-size: 2rem;
}
.story-box p{
    font-size: 1.5rem;
    line-height: 1.5em;
}
.box1{
    top: 25%;
    left: 0;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.75);
}

.box2{
    top: 0;
    right: 0;
    margin-top: 2rem !important;
    max-width: 45% !important;
    background: navy;
    box-shadow: -5px 5px 10px #000;
}
.box2 p{
    padding: 1.5rem;
    border: 1.5px solid #fff;
    font-size: 1.75rem !important;letter-spacing: .075em;
}

.box3{
    top: 25% !important;
    right: 0 !important;
    background-color: rgba(50, 50, 200, 0.6);
    backdrop-filter: blur(3px);
}

/*Background Images*/
.story1{
    background: url(/assets/img/story1.jpg) 80% 50% / cover no-repeat;
}
.story2{
    background: linear-gradient(120deg, skyblue, blue);
}
.story3{
    background: url(/assets/img/story3.jpg) top / cover no-repeat;
}


.rulers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.rulers img{
    margin: 0 1rem;
}
.queen1, .queen2{
    width: 300px;
    height: 325px;
    object-fit: cover;
    object-position: top;
}
.queen2{
    width: 350px !important;
    height: 275px !important;
}


.about-menu{
    position: absolute;
    left: 35%;
    bottom: 0;
    margin: 2rem auto;
    width: 500px;
    height: 75px;
    background: #fff;
    border-radius: 50px;
    padding: 5px .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.about-menu a{
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.cta{
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.75rem;
    transition: all .3s linear 0s;
}
.home{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.call{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.cta:hover{
    background: radial-gradient(rgb(0, 0, 175), rgb(0, 0, 150));
    color: #fff;
    cursor: pointer;
}
.cta i{
    font-size: 3rem;
    margin-right: 1.5rem;
}

@media (max-width: 770px) {
    .box1, .box3{
        top: 15% !important;
        max-width: 75% !important;
    }
    .box2{
        top: 0;
        max-width: 100% !important;
        padding: 5px;
    }
    .box2 p{
        padding: 5px;
    }
    .ruler1{
        width: 150px;
        height: 175px;
    }
    .ruler2{
        width: 150px;
        height: 200px;
        object-fit: cover;
        object-position: top;
        margin-bottom: 2rem !important;
    }
    .queen2, .queen1{
        width: 200px !important;
        height: 175px !important;
        margin: 5px !important;
    }

    .about-menu{
        left: 0%;
        transform: scale(0.75);
    }
}