@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
    padding: 0;
    background: #ece6ea;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
}
.products{
    height: auto !important;
    margin-bottom: 4rem;
}

.container{
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

.swiper-container{
    width: 100%;
    height: 30rem;
}

.swiper-slide{
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}

.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swiper-heading{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,0.45), #000);
    text-align: center;
    color: #fff; 
    z-index: 5;
}
.swiper-heading h1{
    font-size: 5rem;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}



.responsive-productcard-div{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

/*Product card styling*/
.product-card{
    margin: 4rem;
    width: 22.5rem;
    height: auto;
    padding-top: 0px !important;
    padding-bottom: 1.25px;
    background: #fff;
    border-radius: 20px;
    transition: all .3s ease 0s;
}
.product-card:hover{
    box-shadow: 5px 5px 10px rgba(125, 125, 125, 0.2), -5px -5px 10px rgba(125, 125, 125, 0.2);
}
.img-anchor{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}
.product-img{
    position: relative;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    transform: scale(1.025);
    transition: transform .5s ease;
}
.product-overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    display: none;
    place-content: center;
    background: rgba(0,0,0, 0.6);
}
.viewbtn{
    display: block;
    padding: 1rem;
    font-size: 1.5rem;
    background: blue;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    transition: background .3s ease 0s;
    cursor: pointer;
}
.viewbtn:hover{
    background: fuchsia;
}
.label{
    width: 75%;
    height: auto;
    margin: 1rem 5px;
    font-size: 1.25rem;
    padding: 4px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}
.enquiry{
    background-color: red;
    color: #fff;
}
.available{
    background-color: greenyellow;
    color: #000;
}
.product-name{
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: left;
    margin-left: 5px;
    color: #000
}
.contact-options{
    margin: 2rem 0;
    width: 100%;
    height: auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.contact-options a{
    text-decoration: none;
    color: darkslategray;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
.contact-options i{
    margin-bottom: 5px;
    width: 4rem;
    height: 4rem;
    font-size: 2.25rem;
    display: grid;
    place-content: center;
    color: #fff;
    border: none;
    border-radius: 50%;
    transition: all .3s linear 0s ;
}
.contact-options .fa-whatsapp{
    background: linear-gradient(225deg, greenyellow, green);
}
.contact-options .fa-phone-alt{
    font-size: 1.75rem !important;
    background: linear-gradient(225deg, blue, fuchsia);
}
.contact-options i:hover{
    cursor: pointer;
    transform: translateY(-5px);
}
.img-anchor:hover .product-overlay{
    display: grid;
}
.img-anchor:hover .product-img{
    transform: scale(1.2);
}
/*Product card styling ends here*/




.blurbg{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    place-items: center;
    place-content: center;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    z-index: 50;
}

/*Dynamic product view styling. Don't touch this code*/
.dynamic-card{
    width: 70%;
    height: 100%;
    background: azure;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

.img-area{
    position: relative;
    width: 40%;
    height: 100%;
    background: blue;
}

.content{
    width: 60%;
    padding-left: 2rem;
}

.name, .info{
    padding-left: 5px;
    font-family: 'Lato', serif;
}
.name{
    font-size: 4rem;
    width: 60%;
}
.info{
    margin: 2rem 0;
    max-width: 90%;
    font-size: 1.5em;
    color: darkslategray;
}

.dynamic{
    width: 75% !important;
}

.close{
    position: relative;
    top: -8em;
    width: 50px;
    height: 35px;
    cursor: pointer;
    display: grid;
    place-content: center;
}
.close i{
    font-size: 4rem;
    font-weight: 300;
    color: #fff;
}

/*Dynamic Product View styling ends here. Don't touch the code above*/

@media (max-width: 770px) {
    .main{
        padding-top: 4rem;
    }
    .container{
        padding: 0;
        align-items: center;
        justify-content: flex-start;
    }
    .responsive-productcard-div{
        width: 100%;
    }
    .product-card{
        transform: scale(0.8);
        margin: unset;
    }
    .viewbtn{
        display: none;
    }
    .label{
        display: none;
    }
    .contact-options{
        margin-top: 3rem;
        transform: scale(1.15);
        padding: 0 2.5rem;
    }

}